@use "../../sass/variables" as *;

.product-detail {

    &__container {
        display: grid;
        grid-template-columns: 50% 50%;
        text-align: center;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    // css do container do lado esquerdo
    &__container-left-side {
        img {
            padding: 1rem;
        }

        h2 {
            padding: 1rem;
            width: 65%;
            margin: auto;
            text-align: left;
        }
    }

    &__container-left-side-title {
        margin-top: 2rem;
        margin-bottom: 2rem;
        padding: 1rem;
    }

    &__container-left-side-decription {
        border-bottom: 2px solid $contrast-color;
        width: 65%;
        margin: auto;
        padding-bottom: 1rem;
    }

    // css do container do lado direito
    &__container-right-side {

        p {
            margin-top: 1rem;
            text-align: left;
            margin-bottom: 1rem;
        }

        button {
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;

            width: 25rem;
            height: 3rem;

            background: $contrast-color;
            border: 1px solid $black;
            border-radius: 10px;

            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 20px;
            margin-top: 6rem;
        }

        a {
            text-decoration: none;
            color: $white;
        }

        img {
            margin-right: 1rem;
        }

    }

    &__container-right-side-title {
        padding: 1rem;
        border-bottom: 2px solid $contrast-color;
        width: 75%;
        text-align: left;
        margin-bottom: 5rem;
    }

    &__container-right-side-price {
        padding: 1rem 0;
        text-align: left;
    }

    &__cube-colors {
        display: flex;

        div {
            margin-right: 1rem;
            border: 1px solid gray;
            width: 64px;
            height: 60px;

        }
    }
}


// Responsividade

@media screen and (max-width: 900px) {
    .product-detail {

        // css do container do lado esquerdo
        &__container-left-side {
            h2 {
                padding: 1rem;
                width: 70%;
                font-size: 1.2rem;
            }
        }

        &__container-left-side-decription {
            width: 65%;
            font-size: 0.9rem;
            text-align: left;
        }

        // css do container do lado direito
        &__container-right-side {

            p {
                margin-top: 1rem;
                text-align: left;
                margin: auto;
            }

            button {
                margin: auto 6rem auto 2rem;
                width: 20rem;
                height: 2.5rem;

                font-size: 12px;
            }

        }

        &__container-right-side-title {
            width: 85%;
            font-size: 1.3rem;
        }

        &__container-right-side-price {
            font-size: 1.2rem;
        }

        &__cube-colors {
    
            div {
                width: 52px;
                height: 47px;
                margin-bottom: 6rem;
            }
        }
    }
}

@media screen and (max-width: 740px) {
    .product-detail {
        // css do container do lado direito
        &__container-right-side {
            button {
                margin: auto 6rem auto 2rem;
                width: 18rem;
                height: 2.2rem;

                font-size: 12px;
            }

        }
    }
}

@media screen and (max-width: 650px) {
    .product-detail {
        // css do container do lado direito
        &__container-right-side {
            button {
                margin: auto 6rem auto 2rem;
                width: 15rem;
                height: 2rem;

                font-size: 12px;
            }

        }
    }
}