@use '../../sass/variables' as *;

.card {

    width: 340px;
    height: 380px;
    border: solid 1px $border-background-card;
    border-radius: 8px;
    background-color: $white;

    div {
        
    }

    img {
        width: 330px;
        height: 255px;
        display: flex;
    }
    
    p, button {
        padding: 16px;
        text-align: center;
    }
}