@use "../../sass/variables" as *;


.header {
    background-color: $black;
    padding-top: 2rem;
    padding-bottom: 2rem;

    &__superior {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    &__superior-logo {
        width: 9%;
        height: auto;
    }

    &__input-container {
        position: relative;

        input {
            padding-left: 45px;
            height: 48px;
            width: 1096px;
            border-radius: 10px;
            border: 1px solid $border-input-color;
        }
    }

    &__search-logo {
        position: absolute;
        left: 10px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 18px;
        color: gray;
    }

    &__navbar {
        padding-top: 2rem;

        nav {
            display: flex;
            justify-content: space-around;
        }

        a {
            text-decoration: none;
            color: $white;
            font-style: normal;
            font-weight: 900;
            font-size: 20px;
            line-height: 25px
        }

        a:hover {
            cursor: pointer;
            text-decoration: underline;
        }
    }
}

//Responsividade
@media screen and (max-width: 1400px) {
    .header {
        padding: 0.5rem;

        &__search-logo {
            width: 3%;
            height: auto;
        }

        &__superior-logo {
            width: 8%;
            height: auto;
        }

        &__carrinho-logo {
            width: 8%;
            height: auto;
        }

        &__input-container {
            input {
                width: 38rem;
                height: 2rem;
            }
        }

        &__navbar {
            padding: 0.5rem;

            a {
                font-style: normal;
                font-weight: 900;
                font-size: 15px;
                line-height: 20px;
            }
        }
    }

}

@media screen and (max-width: 800px) {
    .header {
        padding: 0.5rem;

        &__search-logo {
            width: 2%;
            height: auto;
        }

        &__superior-logo {
            width: 6%;
            height: auto;
        }

        &__carrinho-logo {
            width: 6%;
            height: auto;
        }

        &__input-container {
            input {
                width: 20rem;
                height: 1.3rem;
                font-size: 9px;
                padding-left: 2rem;
            }
        }

        &__navbar {
            padding-top: 1rem;

            a {
                font-size: 12px;
                line-height: 15px;
            }
        }
    }
}

@media screen and (max-width: 500px) {
    .header {
        padding: 0.5rem;

        &__search-logo {
            width: 3%;
            height: auto;
            margin-top: 2px
        }

        &__superior-logo {
            width: 6%;
            height: auto;
        }

        &__carrinho-logo {
            width: 7%;
            height: auto;
        }

        &__input-container {
            input {
                width: 15rem;
                height: 1rem;
                font-size: 7px;
                padding-left: 1.5rem;
            }
        }

        &__navbar {
            padding-top: 1rem;

            a {
                font-size: 7px;
                line-height: 10px;
            }
        }
    }
}

@media screen and (max-width: 400px) {
    .header {
        padding: 0.5rem;

        &__navbar {
            padding-top: 1rem;

            a {
                font-size: 7px;
                line-height: 10px;
            }
        }
    }


}